<%- include('../partials/head.ejs') %>
  <script defer src="/js/auth.js"></script>
  <script>window.addEventListener('load', () => auth().login())</script>
<%- include('../partials/header.ejs') %>

  <section>
    <h1>Login</h1>
    <p>Login to your account</p>

    <form id="login" class="auth">
      <input type="text" name="username" placeholder="Username e.g. saqib123">
      <div class="username error"></div>
      <input type="password" name="password" placeholder="Password">
      <div class="password error"></div>
      <input type="submit" value="Login">
    </form>
  </section>

<%- include('../partials/footer.ejs') %>