<%- include('../partials/head.ejs') %>
  <script defer src="/js/auth.js"></script>
  <script>window.addEventListener('load', () => auth().signup())</script>
<%- include('../partials/header.ejs') %>

  <section>
    <h1>Sign Up</h1>
    <p>Sign up to join and connect with us</p>

    <form id="signup" class="auth">
      <input type="text" name="username" placeholder="Username e.g. saqib123">
      <div class="username error"></div>
      <input type="email" name="email" placeholder="Email">
      <div class="email error"></div>
      <input type="password" name="password" placeholder="Password">
      <div class="password error"></div>
      <input type="submit" value="Sign Up">
    </form>
  </section>

<%- include('../partials/footer.ejs') %>