<% if (typeof search != 'undefined' && search) { %><script defer src="/js/articles.js"></script>
<script>window.addEventListener('load', () => articles().search());</script>
<input type="text" id="search" placeholder="Enter Search Term"><% } %>
<ul class="articles"><% articles.forEach((article) => { %>
  <li class="article link">
  <a href="/articles/<%- article.slug %>">
    <h1 class="title"><%- article.title %></h1>
    <div class="author title">@<%- article.author.name %></div>
    <div class="time"><%- article.createdAt %></div>
  </a>
  </li><% }); %>
</ul>