$local-lg: 1200px;
$local-md: 630px;
$local-sm: 425px;

@mixin qur {
  font-size: 24px;
  text-align: center;
  width: fit-content;
  line-height: initial;
  margin: 20px auto 80px;
  cursor: default;
}

.quran {
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .title {
    @include qur;
  }

  h4 {
    text-align: center;
  }

  .row {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    float: right;
    margin: 50px auto;

    ul {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding-inline-start: 5px;
      margin: 0 40px;
      margin-block-start: 0;
      margin-block-end: 0;

      li {
        height: 60px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: $grad-pr;
          border-radius: 24px;
          transition: opacity 0.5s linear;
          z-index: -1;
          opacity: 0;
        }

        &:hover {
          &::before {
            opacity: 1;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          }

          * {
            color: whitesmoke;
          }
        }
      }

      @include media($local-lg) {
        width: 80vw;
        margin: 0;
      }
    }

    span {
      display: inline-block;
      margin-top: -10px;
      color: $font-pr;
      cursor: pointer;
    }

    .num {
      color: #a0a0a0 !important;
      font-size: 16px;
      width: 10px;
    }
    .eng {
      margin-left: 20px;
      width: 140px;

      @include media($local-lg) {
        width: 45vw;
        margin-left: 40px;
      }
      @include media($local-md) {
        width: 40vw;
        margin-left: 45px;
      }
      @include media($local-sm) {
        margin-left: 25px;
      }
    }
    .ara {
      font-family: 'Janna LT', sans-serif;
      text-align: right;
      margin-left: 0px;
      width: 90px;

      @include media($local-lg) {
        width: 20vw;
      }
    }
    .mng {
      margin: 5px 0 0 35px;
      font-size: 13px;
      color: $font-pr;
      text-transform: uppercase;
      width: 250px;
      overflow: hidden;
      cursor: pointer;

      @include media($local-lg) {
        width: 60vw;
        margin-left: 55px;
      }
      @include media($local-md) {
        margin-left: 60px;
      }
      @include media($local-sm) {
        margin-left: 40px;
      }
    }

    @include media($local-lg) {
      width: 80vw;
      display: block;
      margin: 50px auto;
    }
  }

  @include media($local-lg) {
    font-size: 16px;
  }
}

.surah {
  margin: 0;
  padding: 0;

  .title {
    @include qur;
  }

  ul {
    width: 90vw;
    margin: auto;
    padding: 0;

    li {
      width: 80vw;
      margin: 20px auto 60px;

      &#bismillah {
        text-align: center;
      }

      div {
        width: 80vw;
        min-height: 40px;
        margin: 10px 0;
      }

      .num {
        margin: 30px 0 10px;
        color: #a0a0a0 !important;
        font-size: 16px;
      }

      .ara {
        font-size: 1.5em;
        text-align: right;
        margin: 20px;
      }
    }
  }
}
