header {
  background-image: $grad-pr;
  display: flex !important;
  justify-content: space-between;
  min-width: 80px;
  padding: 5px 10%;

  .main-logo {
    flex: 2;
    display: flex;
    align-items: center;
    padding: 0 15px;

    img {
      border-radius: 50%;
      padding: 0;
    }
    img:hover {
      background-color: $secondary;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    @include media ($breakpoint-md) {
      padding: 0;
    }
  }

  nav.links {
    flex: 1;

    @mixin link {
      color: $font-se;

      &:hover {
        color: $primary;
        background-color: $secondary;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      li {
        margin: 20px auto;

        p {
          @include link;
        }
      }
    }

    a.link {
      margin: 5px auto;
      padding: 5px;
      min-width: 50px;
      text-align: center;
      border-radius: 36px;
      @include link;
    }

    @include media ($breakpoint-lg) {
      @include none;
    }
  }

  button.burger {
    @include none;

    @include media ($breakpoint-lg) {
      display: inline-block;
      background: transparent;

      i {
        color: $font-se;
        padding: 5px;
        border-radius: 50%;
      }

      &:hover {
        i {
          color: $primary;
          background-color: $secondary;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  aside.links {
    @include none;

    &.show {
      display: block;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 6;
      overflow: hidden !important;

      ul {
        background-image: $grad-te;
        height: 100%;
        width: 40%;
        min-width: 300px;
        margin: 0;
        overflow-y: scroll;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        animation: slide 1s ease 1 forwards;

        li {
          height: 60px;
          width: 100%;
          line-height: 60px;
          margin: 0;
          text-align: center;

          a {
            display: block;
            color: $font-se;
          }

          &:hover {
            background-color: $tertiary;

            a {
              color: $primary;
            }
          }
        }
      }
    }
  }

  @include media ($breakpoint-sm) {
    padding: 20px 30px;
    height: 50px;

    .main-logo {
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
