  <footer>
    <div class="about grid">
      <div class="logo"><img src="/assets/img/logo/logo.svg" alt="logo"></div>
      <div class="content">
        <h4>Who is <a href="/" class="color">Choclacode</a>?</h4>
        <span class="about-text">
          <a href="/" class="color">Choclacode</a> is a developer, who likes programming and chocolate (but doesn't eat a lot). His favourite programming language is JavaScript. (Don't think he misspelled 'Choclacode' xD)
        </span>
      </div>
      <div class="social">
        <div><a href="//github.com/choclacode" target="_blank"><i class="fab fa-github"></i></a></div>
        <div><a href="//twitter.com/choclacode" target="_blank"><i class="fab fa-twitter"></i></a></div>
        <div><a href="//youtube.com/channel/UCuxNNDSPkN4MTbyubs9OQfQ" target="_blank"><i class="fab fa-youtube"></i></a></div>
        <div><a href="//instagram.com/choclacode" target="_blank"><i class="fab fa-instagram"></i></a></div>
        <div><a href="//facebook.com/choclacode" target="_blank"><i class="fab fa-facebook"></i></a></div>
      </div>
    </div>
    <div class="copyright">
      <span>Copyright <a href="/" class="color">Choclacode</a> &copy; 2020</span>
    </div>
  </footer>
</body>

</html>
