  <footer>
    <div class="about grid">
      <div class="logo"><img src="/assets/img/logo/logo.svg" alt="logo"></div>
      <div class="content">
        <h4>Who is <a href="/" class="color">Choclacode</a>?</h4>
        <span class="about-text">
          <a href="/" class="color">Choclacode</a> is a developer, who likes programming and chocolate (but doesn't eat a lot). His favourite programming language is JavaScript. (Don't think he misspelled 'Choclacode' xD)
        </span>
      </div>
      <div class="social"><%
      const links = [
        { href: '//github.com/choclacode', name: 'github' },
        { href: '//twitter.com/choclacode', name: 'twitter' },
        { href: '//youtube.com/channel/UCuxNNDSPkN4MTbyubs9OQfQ', name: 'youtube' },
        { href: '//instagram.com/choclacode', name: 'instagram' },
        { href: '//facebook.com/choclacode', name: 'facebook' },
      ];
      links.forEach(({ href, name }) => { %>
        <div><a href="<%- href %>" target="_blank"><i class="fab fa-<%- name %>"></i></a></div><% }); %>
      </div>
    </div>
    <div class="copyright">
      <span>Copyright <a href="/" class="color">Choclacode</a> &copy; 2020</span>
    </div>
  </footer>
</body>

</html>
