<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="choclacode, saqib.ml">
  <meta name="description" content="Official website of Choclacode">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Choclacode &laquo; <%- title %></title>
  <link rel="shortcut icon" href="/assets/img/logo/avatar.png" type="image/x-icon">
  <link rel="stylesheet" href="/styles/main.css">
  <script defer src="/js/main.js"></script>