header {
  background-image: $grad-pr;
  display: flex !important;
  justify-content: space-between;
  min-width: 80px;
  padding: 5px 10%;

  .main-logo {
    flex: 2;
    display: flex;
    align-items: center;
    padding: 0 15px;

    img {
      border-radius: 50%;
      padding: 0;
    }
    img:hover {
      background-color: $secondary;
    }

    @include media ($breakpoint-md) {
      padding: 0;
    }
  }

  nav.links {
    flex: 1;

    @mixin link {
      color: $font-se;

      &:hover {
        color: $primary;
        background-color: $secondary;
      }
    }

    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        margin: 20px auto;

        p {
          @include link;
        }
      }
    }

    a.link {
      margin: 5px auto;
      padding: 5px;
      min-width: 50px;
      text-align: center;
      border-radius: 36px;
      @include link;
    }

    @include media ($breakpoint-lg) {
      @include none;
    }
  }

  button.burger {
    @include none;

    @include media ($breakpoint-lg) {
      display: inline-block;
      background: transparent;

      i {
        color: $font-se;
        padding: 5px;
        border-radius: 50%;
      }

      &:hover {
        i {
          color: $primary;
          background-color: $secondary;
        }
      }
    }
  }

  aside.links {
    @include none;

    &.show {
      display: block;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 6;
      overflow: hidden !important;

      ul {
        background-image: $grad-te;
        height: 100%;
        width: 40%;
        min-width: 300px;
        margin: 0;
        overflow-y: scroll;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        animation: slide 1s ease 1 forwards;

        li {
          height: 60px;
          width: 100%;
          line-height: 60px;
          margin: 0;
          text-align: center;

          a {
            display: block;
            color: $font-se;
          }

          &:hover {
            background-color: $tertiary;

            a {
              color: $primary;
            }
          }
        }
      }
    }
  }

  @include media ($breakpoint-sm) {
    padding: 20px 30px;
    height: 50px;

    .main-logo {
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}

main {
  padding: 10px 10%;

  &.chocolatey {
    background-image: $grad-pr;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);

    * {
      color: $font-se;
    }

    .title {
      background-image: $grad-te;
    }
  }

  @include media ($breakpoint-sm) {
    padding: 10px 0;
  }
}

section {
  min-height: 70vh;
  margin: 20px;
  padding: 20px;
  color: $font-pr;
  box-sizing: border-box;

  &#head {
    .main {
      div {
        grid-column: 1/9;
      }

      img[alt='logo'] {
        height: 300px;
        width: 300px;
        grid-column: 9/12;
        position: absolute;
        right: 10%;
      }

      @include media ($breakpoint-lg) {
        div {
          grid-column: 1/13;
          z-index: 1;
        }

        img[alt='logo'] {
          @include none;
        }
      }
    }
  }

  &#chocolate {
    h1, .link {
      display: flex;
      justify-content: center;
    }
  }

  &#themes {
    min-height: fit-content;
    padding: 10px;

    .theme-container {
      height: 300px;
      max-width: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      .code {
        height: 140px;
        width: 135px;
      }
    }
  }
}

form {
  max-width: $breakpoint-sm;
  margin: 0 auto;
  padding: 20px;
  border-radius: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: $grad-pr;

  input, textarea {
    background: $font-pr;
    color: $font-se;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  textarea {
    padding: 20px;
  }
}

footer {
  * {
    color: $font-se;
  }

  .about {
    padding: 20px 10%;
    background-image: $grad-pr;

    .logo {
      grid-column: 1/2;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 150px;
        height: 150px;
      }
    }

    .content {
      grid-column: 3/8;

      .about-text {
        display: inline-block;
        text-align: justify;
        margin-bottom: 20px;
      }
    }

    .social {
      grid-column: 9/13;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 25px;
      margin: auto;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        margin: 20px 10px;
        padding: 7px;
        border-radius: 50%;
        color: black;

        a {
          padding: 7px;
        }

        &:hover {
          background-color: $secondary;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

          i {
            color: $primary;
          }
        }
      }
    }

    @include media ($breakpoint-md) {
      &.grid {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: $grad-se;
    min-height: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }  
}
