* {
  font-family: 'Quicksand', 'Siyamrupali', 'Janna LT',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  transition: color 0.4s ease,
    background-color 0.4s ease;
  scrollbar-width: thin;
  scrollbar-color: $primary #ddd;

  &:focus {
    outline: none;
  }
  &::selection {
    color: $font-se;
    background-color: $secondary;
  }
  &::-webkit-scrollbar {
    height: 1px;
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  @include media ($breakpoint-md) {
    cursor: default !important;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
ul {
  padding: 0;
  list-style-type: none;
}
article {
  text-align: justify;
}
p {
  line-height: 1.5rem;
}
a {
  color: $font-pr;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
input, textarea {
  margin: 10px;
  padding: 7.5px 10px;
  border: none;
  border-radius: 36px;
}
button, input[type='submit'] {
  border: none;
  cursor: pointer;
}
hr {
  max-width: 240px;
  margin: 20px auto 30px 0;
  border-color: $primary;
  opacity: 0.4;
}
