// variables
$primary: #4d2f14;
$secondary: #886546;
$tertiary: #5d4632;

$font-pr: #301904;
$font-se: whitesmoke;
$font-te: #555;

$grad-pr: -webkit-linear-gradient(right, $primary, $secondary);
$grad-se: -webkit-linear-gradient(right, $secondary, $tertiary);
$grad-te: -webkit-linear-gradient(right, $primary, $tertiary);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// mixins
@mixin media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    & {
      @content;
    }
  }
}

@mixin none {
  display: none;
}

@mixin nosb {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

// fonts
// @import...
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

.eng {
  font-family: 'Quicksand', sans-serif;
}
.ban {
  font-family: 'Siyamrupali';
}
.ara {
  font-family: 'Janna LT';
}
pre, code {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

// @font-face... 
@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand.ttf');
}
@font-face {
  font-family: 'Siyamrupali';
  src: url('/assets/fonts/Siyamrupali.ttf');
}
@font-face {
  font-family: 'Janna LT';
  src: url('/assets/fonts/JannaLT.ttf');
}
@font-face {
  font-family: 'Fira Code';
  src: url('/assets/fonts/FiraCode.ttf');
}

// keyframes
@keyframes slide {
  from {
    margin-left: -100%;
    color: $primary;
  }
  to {
    margin-left: 0;
    color: $font-se;
  }
}
