extends ../layout.pug

block content
  section
    h1 Articles
    p Read, learn and increase the faith for Allah!
    include ../shared/articles
    +articles(articles, true)
    if user
      a.btn(href="/articles/create") Create
