<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

  <section>
    <h1>Articles</h1>
    <p>Read, learn and increase the faith for Allah!</p>
    <%- include('../shared/articles.ejs', { articles }) %>
    <% if (user) { %><a href="/articles/create" class="btn">Create</a><% } %>
  </section>

<%- include('../partials/footer.ejs') %>