<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

  <section>
    <div class="code">
      <pre><%- json %></pre>
    </div>
    <div class="preview">
      <p>Want to use this in your application?</p>
      <p>Copy the link without the query string (<i>?raw=false</i>)</p>
    </div>
  </section>

<%- include('../partials/footer.ejs') %>