doctype html
html(lang="en")
  include ../partials/head
  body
    include ../partials/header
    main
      section
        .code
          pre= json
        .preview
          p Want to use this in your application?
          p
            | You can copy the link without the query string (
            i ?raw=false
            | )
    include ../partials/footer
