extends ../layout.pug

block title
  | #{title} &laquo; API

block content
  section
    .code
      pre= json
    .preview
      p Want to use this in your application?
      p
        | You can copy the link without the query string (
        i ?raw=false
        | )
