extends ../layout.pug

block content
  section
    .preview
      h1 User Info
      img.avatar(src=profileImg, alt="Img")
      div
        p
          | Username : #{''}
          span.title @#{ username }
        p Email : #{ email }
      div
        a(href=`mailto:1 email`, target="_blank")
          i.material-icons.btn mail
        a(href="/discuss")
          i.material-icons.btn chat
