@import 'header';

main {
  padding: 10px 10%;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);

  &.chocolatey {
    background-color: $font-pr;

    * {
      color: $font-se;
    }

    .title {
      background-image: $grad-se;
    }

    .color {
      &,
      & * {
        color: $secondary;
      }
    }

    .quran * {
      color: $font-se !important;
    }

    hr,
    tr {
      border-color: wheat;
    }
    .errorsect {
      .status {
        border-right-color: $secondary;
      }

      .detail {
        color: $secondary;
      }
    }
  }

  @include media($breakpoint-sm) {
    padding: 10px 0;
  }
}

section {
  min-height: 70vh;
  margin: 20px;
  padding: 20px;
  color: $font-pr;
  box-sizing: border-box;

  &#head {
    .main {
      div {
        grid-column: 1/9;
      }

      img[alt='logo'] {
        height: 300px;
        width: 300px;
        grid-column: 9/12;
        position: absolute;
        right: 10%;
      }

      @include media($breakpoint-lg) {
        div {
          grid-column: 1/13;
          z-index: 1;
        }

        img[alt='logo'] {
          @include none;
        }
      }
    }
  }

  &#chocolate {
    h1,
    .link {
      display: flex;
      justify-content: center;
    }
  }

  &#themes {
    min-height: fit-content;
    padding: 10px;

    .theme-container {
      height: 300px;
      max-width: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      .code {
        height: 140px;
        width: 135px;
      }
    }
  }
}

@import 'footer';
