.title {
  text-align: center;
  margin: auto;
}
.choc-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px 0;
}
.choc-content article {
  text-align: justify;
  margin-right: 20px;
}
.choc-img {
  max-width: 100%;
  border-radius: 12px;
}

/* @media */
@media screen and (max-width: 768px) {
  .choc-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .choc-content article {
    margin-right: 0;
  }
}
