.errorsect {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
}
.errorsect .status {
  padding: 5px 10px;
  border-right: 3px solid var(--font-pr);
}
.errorsect .detail {
  color: var(--font-te);
  margin-left: 10px;
}
