.quran {
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
}
.quran .title, .surah .title {
  font-size: 24px;
  text-align: center;
  width: fit-content;
  line-height: initial;
  margin: 20px auto 80px;
  cursor: default;
}
.quran h4 {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  float: right;
  margin: 50px auto;
}
.row ul {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-inline-start: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.row ul li {
  height: 60px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.row ul li:hover {
  background-image: var(--grad-pr);
  border-radius: 24px;
}
.row ul li:hover * {
  color: whitesmoke;
}
.row span {
  display: inline-block;
  margin-top: -10px;
  color: var(--font-pr);
  cursor: pointer;
}
.num {
  color: #a0a0a0 !important;
  font-size: 16px;
  width: 10px;
}
.eng {
  margin-left: 20px;
  width: 140px;
}
.ara {
  font-family: 'Janna LT', sans-serif;
  text-align: right;
  margin-left: 0px;
  width: 90px;
}
.mng {
  margin: 5px 0 0 35px;
  font-size: 13px;
  color: var(--font-pr);
  text-transform: uppercase;
  width: 250px;
  overflow: hidden;
  cursor: pointer;
}

.surah {
  margin: 0;
  padding: 0;
}
.surah ul {
  width: 90vw;
  margin: auto;
  padding: 0;
}
.surah li {
  width: 80vw;
  margin: 20px auto 60px;
}
.surah #bismillah {
  text-align: center;
}
.surah li div {
  width: 80vw;
  min-height: 40px;
  margin: 10px 0;
}
.surah li .num {
  margin: 30px 0 10px;
}
.surah li .ara {
  font-size: 1.5em;
  margin: 20px;
}

/* @media screen and... */
@media screen and (max-width: 1005px) {
  .quran {
    font-size: 16px;
  }
  .row {
    width: 80vw;
    display: block;
    margin: 50px auto;
  }
  .row ul {
    width: 80vw;
  }
  .eng {
    width: 45vw;
    margin-left: 40px;
  }
  .ara {
    width: 20vw;
  }
  .mng {
    width: 60vw;
    margin-left: 55px;
  }
}
@media screen and (max-width: 630px) {
  .eng {
    width: 40vw;
    margin-left: 45px;
  }
  .mng {
    margin-left: 60px;
  }
}
@media screen and (max-width: 425px) {
  .eng {
    margin-left: 25px;
  }
  .mng {
    margin-left: 40px;
  }
}
