/* animations */
.quote q, .quote a {
  animation: slide 1s ease 1 normal,
    slide 1s ease 6s 1 reverse;
}

/* @keyframes */
@keyframes slide {
  from {
    margin-left: -100%;
    color: var(--primary);
  }
  to {
    margin-left: 0;
    color: var(--font-se);
  }
}
