/* header */
header {
  min-width: 80px;
  padding: 20px;
}
header .main-logo {
  grid-column: 2/4;
}
header img {
  border-radius: 50%;
  padding: 5px;
}
header img:hover {
  background-color: var(--secondary);
}
nav.links {
  grid-column: 7/12;
}
nav.links ul {
  display: flex;
  justify-content: space-evenly;
}
nav.links li {
  margin: 20px auto;
}
nav.links a {
  color: var(--primary);
  margin: 5px auto;
  padding: 5px;
  min-width: 50px;
  text-align: center;
  border-radius: 36px;
}
nav.links a:hover {
  color: var(--font-se);
  background-color: var(--primary);
}
button.burger, aside.links {
  display: none;
}

/* section */
section {
  min-height: 70vh;
  margin: 20px;
  padding: 20px;
  color: var(--font-pr);
  box-sizing: border-box;
}
#head .main div {
  grid-column: 1/9;
}
#head .main img[alt='logo'] {
  height: 300px;
  width: 300px;
  grid-column: 9/12;
  position: absolute;
  right: 50px;
}
#head textarea {
  width: 100%;
  height: 25px;
}
#chocolate h1, #chocolate .link {
  display: flex;
  justify-content: center;
}

form {
  max-width: var(--breakpoint-sm);
  margin: 0 auto;
  padding: 20px;
  border-radius: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--grad-pr);
}
form input,
form textarea {
  background: var(--font-pr);
  color: var(--font-se);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
form textarea {
  padding: 20px;
}

/* footer */
footer * {
  color: var(--font-se);
}
footer .about {
  padding: 20px;
  background-image: var(--grad-pr);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
footer .about .logo {
  grid-column: 1/2;
}
footer .logo img {
  width: 150px;
  height: 150px;
}
footer .about .content {
  grid-column: 3/7;
}
footer .about-text {
  display: inline-block;
  text-align: justify;
  margin-bottom: 20px;
}
footer .about .social {
  grid-column: 8/12;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  margin: auto;
}
footer .social div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 7px;
  border-radius: 50%;
  color: black;
}
footer .social a {
  padding: 7px;
}
footer .social div:hover {
  background-color: var(--secondary);
}
footer .social :hover i {
  color: var(--primary);
}
footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--grad-se);
  min-height: 50px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
