@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {
  /* section */
  #head .main img[alt='logo'] {
    right: -50px;
  }

  /* utils */
  .card {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }

  /* header */
  header {
    background-image: var(--grad-pr);
    display: flex !important;
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  nav.links {
    display: none;
  }
  button.burger {
    display: inline-block;
    background: transparent;
  }
  button.burger i {
    color: var(--font-se);
    padding: 5px;
    border-radius: 50%;
  }
  button.burger:hover i {
    color: var(--primary);
    background-color: var(--secondary);
  }
  aside.links.show {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    overflow: hidden !important;
  }
  aside.links.show ul {
    background-image: var(--grad-te);
    height: 100%;
    width: 40%;
    min-width: 300px;
    margin: 0;
    overflow-y: scroll;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  aside.links.show li {
    height: 60px;
    width: 100%;
    line-height: 60px;
    margin: 0;
    text-align: center;
  }
  aside.links.show li a {
    display: block;
    color: var(--font-se);
  }
  aside.links.show li:hover {
    background-color: var(--tertiary);
  }
  aside.links.show li:hover a {
    color: var(--primary);
  }

  /* section */
  #head .main div {
    grid-column: 1/13;
    z-index: 1;
  }
  #head .main img[alt='logo'] {
    display: none;
  }

  /* footer */
  footer .about.grid {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  /* util */
  .card {
    width: 80%;
  }
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* header */
  header {
    height: 50px;
  }
  header .main-logo img {
    height: 40px;
    width: 40px;
  }

  /* util */
  .card {
    width: 100%;
  }
}
