.color, .color * {
  color: var(--primary);
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.title {
  background-image: var(--grad-pr);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
img[alt="logo"] {
  width: 100px;
  height: 100px;
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
  border-radius: 36px;
  padding: 0;
}
.dropdown p {
  min-width: 50px;
  margin: 5px auto;
  padding: 5px 7.5px;
  color: var(--primary);
  text-align: center;
  border-radius: 36px;
  cursor: pointer;
}
.dropdown p:hover {
  background-color: var(--primary);
  color: var(--font-se);
}
.dropdown div {
  display: none;
}
.dropdown:hover div {
  position: absolute;
  top: 40px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--font-se);
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.dropdown div a {
  margin: 0;
  padding: 7.5px 10px;
  border-radius: 0;
}
.btn {
  color: var(--font-se);
  background-color: var(--primary);
  padding: 7.5px 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 36px;
}
.btn:hover, input[type='submit']:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
.quote {
  max-width: var(--breakpoint-md);
  margin: 50px auto;
  background-image: var(--grad-pr);
  padding: 10px 20px;
  border-radius: 36px;
}
.quote .content {
  display: block;
  padding-left: 20px;
  border-left: 3px solid var(--primary);
  overflow-x: hidden;
}
.quote q {
  font-size: 1.75em;
  color: var(--font-se);
}
.quote a {
  color: var(--font-se);
}
.code {
  max-height: 500px;
  max-width: var(--breakpoint-md);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-left: 5px solid var(--primary);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: scroll;
  margin: auto;
}
.code pre {
  padding: 20px;
  margin: 0 auto;
}
.code::-webkit-scrollbar,
.nosb::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.preview {
  max-width: var(--breakpoint-sm);
  padding: 20px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 36px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.preview .btn {
  margin: 20px auto;
}
.error {
  color: #ffa0a0;
  text-align: center;
  font-size: 15px;
}

/* card */
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  margin: 20px auto;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.card .card-img {
  min-width: 100%;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card .card-title {
  margin: 0;
  padding: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.card .card-link {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

/* flex */
.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0;
}
.flex li {
  background-image: var(--grad-pr);
  border-radius: 36px;
  min-width: 250px;
  margin: 20px;
}
.flex a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  color: var(--font-se);
}
