extends ../layout.pug

block content
  section.chocolates
    h1.title Chocolate
    .container
      include ../shared/chocolates
      +chocolates(chocolates)
      p These are some dummy information about chocolate, only gave because I love them. Don't learn about chocolate from here. But feel free to use the 'lorem chocolate ipsum'!
