<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

  <section class="about">
    <h1>About</h1>
    <p>About <span class="color">Choclacode</span></p>
    <div class="preview cover">
      <!-- <img src="/assets/img/logo/cover.png" alt="cover" style="object-fit: cover;"> -->
    </div>
    <div class="code"><pre><%= about %></pre></div>
  </section>

<%- include('../partials/footer.ejs') %>
