<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

  <section>
    <h1 class="title">API</h1>
    <p>APIs to use in different applications</p>
    <p>Requesting to please not click any of the links if you are not a developer; because it may look scary to you</p>

    <ul class="flex">
      <li><a href="/api/quran">Quran</a></li>
      <li><a href="/api/chocolate">Chocolate</a></li>
      <li><a href="/api/quotes">Quotes</a></li>
    </ul>
  </section>

<%- include('../partials/footer.ejs') %>