<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/others/discuss.css">
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/js/discuss.js"></script>
<%- include('../partials/header.ejs') %>

  <section id="chatsect">
    <ul id="chatbox"></ul>
    <form id="sendmsg">
      <input type="text" name="msg" placeholder="Type a message..." autocomplete="off">
      <input type="submit" class="material-icons-outlined" value="send">
    </form>
  </section>

  <section>
    <div class="preview">
      <h3 class="title">Active Users</h3>
      <ul class="users"></ul>
    </div>
  </section>

<%- include('../partials/footer.ejs') %>